<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeAlert"
        tools:targetApi="31">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ui.task.view.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.MainActivity"
            android:exported="false">
        </activity>
        <receiver
            android:name=".brodcastreceiver.TaskAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.collegealert.ACTION_TASK_ALARM" />
                <action android:name="com.example.collegealert.ACTION_BUTTON_CLICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>